[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
hoverpy = "*"
pytest = "*"

[packages]
flask = "*"
hoverpy = "*"
pytest = "*"

[requires]
python_version = "3.7"

